<!-- <nav>
    <ul>
        <li>
            <a href="/inicio">inicio</a>
            |
            <a href="/login">login</a>
        </li>
    </ul>
</nav> -->


<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
      <ul>
        
        <li><a class="nav-link scrollto active" href="/admin/registro/usuario">Usuarios</a></li>
        <li><a class="nav-link scrollto" href="/admin/registro/recepcionista">Recepcionistas</a></li>
        <li><a class="nav-link scrollto" href="/admin/registro/viaje">Viajes</a></li>
        <li><a class="nav-link scrollto" href="/admin/registro/auto">Autos</a></li>
        <li><a class="nav-link scrollto" href="admin/delete/usuario">Eliminar Usuario</a></li>
       
        <li><a class="nav-link scrollto" href="login">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Bienvenidos {{data.usuario}}</h1>
      <img [src]="data.foto" alt="Imagen de bienvenida" class="hero-image" >
      <h2>Tienes permisos de administracion</h2>
      
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= My Services Section ======= -->
    

  </main><!-- End #main -->


